@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}
:root {
    --red: rgb(198, 80, 54);
    --cyan: rgb(130, 203, 212);
    --purple: rgb(48, 30, 74);
    --viewport-height: 100%;
}

html {
    box-sizing: border-box;
}

.text-red {
    color: var(--red);
}
.text-cyan {
    color: var(--cyan);
}
.text-purple {
    color: var(--purple);
}

.bg-red {
    background: var(--red);
}
.bg-cyan {
    background: var(--cyan);
}
.bg-purple {
    background: var(--purple);
}

/* Login style */
.bg-color-style{
    background: linear-gradient(to bottom left, #C65036, #82CBD4, #301E4A);
}

/* Pending Verify */
#toast-warning {
    bottom: 0;
    right: 0;
    position: fixed;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Verify users */
@media (min-width: 768px) {
    #margin_table {
      width: 80%;
      margin: 0 auto;
    }
}

@media (max-width: 768px) {
    #margin_table {
        width: 100%;
    }
}
